/* custom font faces */
@font-face {
    font-family: "neue1";
    src: url(/fonts/NeueMachina-Light.otf);
}

@font-face {
    font-family: "neue2";
    src: url(/fonts/NeueMachina-Regular.otf);
}

@font-face {
    font-family: "neue3";
    src: url(/fonts/NeueMachina-Ultrabold.otf);
}

@font-face {
    font-family: 'monrl';
    src: url(/fonts/PPNeueMontreal-Thin.otf);
}

@font-face {
    font-family: 'monrl1';
    src: url(/fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: 'monrl2';
    src: url(/fonts/PPNeueMontreal-Bold.otf);
}



.allpost{
    background-color: white;
    width: 100%;
    height: inherit;
}
.allpost-main{
    margin-top: 10rem;
    padding: 0 8rem;
}

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

.post-img{
    width: 15rem;
    height: 10rem;
}
.post-bg{
    width: inherit;
    height: inherit;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    border-radius: 4px;
}
.post-thamnale-img:hover{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post-thamnale-img:hover{
    transform: scale(1.1);
}
.post-title a{
    text-decoration: none;
    color: black;
    font-family: 'neue2';
}
.post-title a h2{
 font-size: 20px;
 transition: .3s;
}
.post-title a h2:hover{
color: #115cfa;

}
.post-date{
    font-size: 20px;
    font-family: 'neue2';
}
.post-owner{
    font-size: 20px;
    font-family: 'neue2';
}

.post-preview a{
    text-align: center;
    color: white;
    background-color: #115cfa;
    border: 1px solid #115cfa;
    text-decoration: none;
    border-radius: 4px;
    transform: .5s;
}
.post-preview a:hover{
    text-align: center;
    color: #115cfa;
    background-color: #ffffff;
    border: 1px solid #115cfa;
    text-decoration: none;
    border-radius: 4px;
}

a.live-view-button {
    font-family: 'neue2';
    padding: 0.9rem 1.8rem;
    transition: .6s;
}

.hr-top{
    width: 100%;
    height: 1px;
    background-color: #7d7d7d5f;
    margin-bottom: 1rem;
}
.hr-bottom{
    width: 100%;
    height: 1px;
    background-color: #7d7d7d5f;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top-ex-space{
    width: 100%;
    height: inherit;
    padding: 4rem 0rem;
    /* background-color: red; */
}



/* responsiveness start here */

/* laptop responsiveness start here  */

@media (min-width: 1400px) and (max-width: 1500px){
    .post-title {
        width: 30%;
    }
    .post-date {
        width: 15%;
    }
    .post-date {
        font-size: 16px;
        font-family: 'neue2';
    }
    .post-owner {
        width: 15%;
    }

    .post-owner {
        font-size: 18px;
        font-family: 'neue2';
    }

    a.live-view-button {
        font-family: 'neue2';
        padding: 0.7rem 1.6rem;
        transition: .6s;
    }

    
}



@media (min-width: 1200px) and (max-width: 1399px){
    .allpost-main {
        margin-top: 10rem;
        padding: 0 3rem;
    }
    
    .post-title {
        width: 30%;
    }
    .post-date {
        width: 15%;
    }
    .post-date {
        font-size: 16px;
        font-family: 'neue2';
    }
    .post-owner {
        width: 15%;
    }

    .post-owner {
        font-size: 18px;
        font-family: 'neue2';
    }

    a.live-view-button {
        font-family: 'neue2';
        padding: 0.7rem 1.6rem;
        transition: .6s;
    }


}


@media (min-width: 1000px) and (max-width: 1199px){
    .allpost-main {
        margin-top: 10rem;
        padding: 0 3rem;
    }

    .post-img {
        width: 11rem;
        height: 7rem;
    }

    .post-title a h2 {
        font-size: 16px;
        transition: .3s;
    }

    .post-title {
        width: 30%;
    }
    .post-date {
        width: 10%;
    }
    .post-date {
        font-size: 14px;
        font-family: 'neue2';
    }
    .post-owner {
        width: 12%;
    }

    .post-owner {
        font-size: 15px;
        font-family: 'neue2';
    }

    a.live-view-button {
        font-family: 'neue2';
        padding: 0.5rem 1.4rem;
        transition: .6s;
    }

    .post-preview a {
        text-align: center;
        color: white;
        background-color: #115cfa;
        border: 1px solid #115cfa;
        text-decoration: none;
        border-radius: 4px;
        font-size: 12px;
        transform: .5s;
    }
}

/* mobile responsiveness start here */

@media (min-width: 250px) and (max-width: 350px) {
    .post {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: inherit;
        flex-direction: column;
    }
    .allpost-main {
        margin-top: 8rem;
        padding: 0 2rem;
    }

    .post-img {
        width: 80vw;
        height: 50vw;
    }

    .post-date {
        font-size: 15px;
        font-family: 'neue2';
    }

    .post-owner {
        font-size: 18px;
        font-family: 'neue2';
        padding-bottom: 1rem;
        padding-top: .4rem;
    }

    .post-preview {
        display: none;
    }

    .post-title a h2 {
        font-size: 18px;
        transition: .3s;
        line-height: 24px;
        margin-top: 1rem;
    }



}

@media (min-width: 351px) and (max-width: 400px) {
    .post {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: inherit;
        flex-direction: column;
    }
    .allpost-main {
        margin-top: 8rem;
        padding: 0 2rem;
    }

    .post-img {
        width: 83vw;
        height: 50vw;
    }

    .post-date {
        font-size: 15px;
        font-family: 'neue2';
    }

    .post-owner {
        font-size: 18px;
        font-family: 'neue2';
        padding-bottom: 1rem;
        padding-top: .4rem;
    }

    .post-preview {
        display: none;
    }

    .post-title a h2 {
        font-size: 18px;
        transition: .3s;
        line-height: 24px;
        margin-top: 1rem;
    }



}

@media (min-width: 401px) and (max-width: 450px) {
    .post {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: inherit;
        flex-direction: column;
    }
    .allpost-main {
        margin-top: 8rem;
        padding: 0 3rem;
    }

    .post-img {
        width: 80vw;
        height: 50vw;
    }

    .post-date {
        font-size: 15px;
        font-family: 'neue2';
    }

    .post-owner {
        font-size: 18px;
        font-family: 'neue2';
        padding-bottom: 1rem;
        padding-top: .4rem;
    }

    .post-preview {
        display: none;
    }

    .post-title a h2 {
        font-size: 18px;
        transition: .3s;
        line-height: 24px;
        margin-top: 1rem;
    }



}


@media (min-width: 451px) and (max-width: 500px) {
    .post {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: inherit;
        flex-direction: column;
    }
    .allpost-main {
        margin-top: 8rem;
        padding: 0 3rem;
    }

    .post-img {
        width: 80vw;
        height: 50vw;
    }

    .post-date {
        font-size: 15px;
        font-family: 'neue2';
    }

    .post-owner {
        font-size: 18px;
        font-family: 'neue2';
        padding-bottom: 1rem;
        padding-top: .4rem;
    }

    .post-preview {
        display: none;
    }

    .post-title a h2 {
        font-size: 18px;
        transition: .3s;
        line-height: 24px;
        margin-top: 1rem;
    }



}






