@font-face {
    font-family: 'neue1';
    src: url(/fonts/NeueMachina-Regular.otf);
}
div#mySidenav {
    font-family: 'neue1';
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #070707;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.social-icon-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a.mobile-icon {
    margin-left: 0px;
    padding: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) {
    .mobile-nav-main {
        display: none;
    }
}