a.link-black {
    color: rgb(0, 0, 0) !important;
}
i#social1 {
    color: black !important;
}
i#social2 {
    color: black !important;
}
i#social3 {
    color: black !important;
}
i#social4 {
    color: black !important;
}